[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "*"
google-auth-oauthlib = "*"
pytz = "*"
icalendar = "*"
slugify = "*"
bs4 = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
